<div (click)="openExternalMap()">
    <table>
        <tr>
            <ng-template *ngIf="fitness.photos_url !== '' ;then imageAvailable else imageNotAvailable"></ng-template>    
            <ng-template #imageAvailable>
                <td rowspan="4">
                        <img src="{{fitness.photos_url}}" style="width:150px; height: 150px;">
                </td>
            </ng-template>
            <ng-template #imageNotAvailable>
                <td rowspan="4">
                        <img src="../../../assets/no_image.png" style="width:150px; height: 150px;">
                </td>
            </ng-template>
            
        </tr>
        <tr>
            <td style="font-size: 25px;font-weight: 300;">
                    {{fitness.name}}
            </td>
        </tr>
        <tr>
                <td style="font-size: 20px;font-weight: 300;">
                        Rating: {{fitness.rating}}
                </td>
        </tr>
        <tr>
                <td style="font-size: 20px;font-weight: 300;">
                        {{fitness.formatted_address}}
                </td>
        </tr>
    </table>
</div>