.content-padding {
    padding:20px;
  }
  .content-padding-left {
    padding-left:5px;
  }
  
  .list-item-style {
    text-decoration: none;
    color: #333;
  }

  .margin-content-top {
    margin-top: 45px;
  }

  .list-item-value {
    font-weight: 600;
    padding-right: 5px;
  }